@media only screen and (max-width:1024px) {


    .btn {
        font-size: 3.5vw !important;
    }

    .btn-bg-none {
        font-size: 3.5vw !important;
    }

    h1 {
        font-size: 4vw !important;
    }

    span {
        font-size: 3vw !important;
    }

    h5 {
        font-size: 2vw !important;
    }

    h4 {
        font-size: 3.5vw !important;
    }

    p {
        font-size: 4vw !important;
    }


    /* splash screen */

    .load h1 {
        font-size: 20vw !important;
        -webkit-text-stroke: 3px black;
    }

    .splash-screen::before {
        top: -10%;
        width: 200%;
    }


    /* scroll */

    .scroll1 {
        font-size: 3vw !important;
    }


    /* navbar */

    .offcanvas-backdrop {
        z-index: -111 !important;
    }

    .offcanvas-body {
        background-color: white !important;
    }

    .navbar-brand {
        width: 200px !important;
    }

    .navbar-brand img {
        width: 100% !important;
    }

    .offcanvas-body a {
        color: rgb(0, 0, 0) !important;
    }

    .dropdown-menu {
        border: .2px solid rgba(0, 0, 0, 0.2) !important;
    }


    /* content first */


    .content-first .row2-child h3 {
        font-size: 2vw !important;
    }

    @keyframes img-scale {
        0% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 220%;
        }

        18% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 230%;
        }

        24% {
            background-image: url(asset/img/content-first-1.jpg);
        }

        25% {
            background-image: url(asset/img/content-first-5.jpg);
            background-size: 220%;
        }

        43% {
            background-image: url(asset/img/content-first-5.jpg);
            background-size: 230%;
        }

        49% {
            background-image: url(asset/img/content-first-5.jpg);
        }

        50% {
            background-image: url(asset/img/content-first-3.jpg);
            background-size: 220%;
        }

        68% {
            background-image: url(asset/img/content-first-3.jpg);
            background-size: 230%;
        }

        74% {
            background-image: url(asset/img/content-first-3.jpg);
        }

        75% {
            background-image: url(asset/img/content-first-4.jpg);
            background-size: 220%;
        }

        93% {
            background-image: url(asset/img/content-first-4.jpg);
            background-size: 230%;
        }

        99% {
            background-image: url(asset/img/content-first-4.jpg);
        }

        100% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 220%;
        }
    }

    .content-first-row::before {
        background-color: rgba(0, 0, 0, 0.5);
    }


    /* content second */


    .content-second-child-row2-1 {
        height: 50% !important;
    }

    .content-second-child-row2:nth-child(2) {
        height: 75% !important;
    }


    /* content third */


    .content-third-box-child i {
        font-size: 4vw;
    }

    .content-third p {
        font-size: 4vw !important;
    }



    /* content four */


    .content-four-row1-child .col {
        height: 25% !important;
    }

    .four-box i {
        font-size: 3vw !important;
    }


    /* content five */

    .five-text {
        margin-bottom: 30vh !important;
    }


    /* content six */


    .content-six .six-img-content {
        top: 25% !important;
        width: 50% !important;
    }


    /* content seven */


    .content-seven .seven-img {
        height: 50vh !important;
    }

    .content-seven .carousel-control-prev {
        top: 110% !important;
        left: 35% !important;
    }

    .content-seven .carousel-control-next {
        top: 110% !important;
        left: 52% !important;
    }

    .content-seven .carousel-control-prev {
        left: 35% !important;
    }

    .content-seven .carousel-control-next {
        left: 57% !important;
    }

    .content-seven .carousel-control-prev i {
        font-size: 5vw !important;
    }

    .content-seven .carousel-control-next i {
        font-size: 5vw !important;
    }

    .seven-star i {
        font-size: 2vw !important;
    }


    /* content ten */


    .content-ten .row {
        overflow: hidden !important;
    }

    .content-ten .ten-second {
        height: 40vh !important;
    }


    /* content eleven */


    .eleven-row2-child i {
        font-size: 1.5vw !important;
    }


    /* content footer */


    .content-footer {
        padding-top: 50px !important;
        margin-top: 300px !important;
    }

    .footer-po {
        top: -20% !important;
    }

    .footer-po input {
        width: 50% !important;
        font-size: 3.5vw !important;
        padding: 12px 10px 12px 10px !important;
    }

    .footer-po input::placeholder {
        font-size: 3.5vw !important;
    }
}

@media only screen and (max-width:576px) {



    .btn {
        padding: 7px 15px 7px 15px !important;
    }

    h1 {
        font-size: 6vw !important;
    }

    h4 {
        font-size: 5vw !important;
    }

    h5 {
        font-size: 3vw !important;
    }


    /* splash screen */


    .splash-screen::before {
        top: -25%;
        width: 350%;
    }


    /* scroll */

    .scroll1 {
        font-size: 5vw !important;
    }



    /* navbar */

    .navbar-brand img {
        width: 150% !important;
    }


    /* content first */


    @keyframes img-scale {
        0% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 260%;
        }

        18% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 270%;
        }

        24% {
            background-image: url(asset/img/content-first-1.jpg);
        }

        25% {
            background-image: url(asset/img/content-first-5.jpg);
            background-size: 260%;
        }

        43% {
            background-image: url(asset/img/content-first-5.jpg);
            background-size: 270%;
        }

        49% {
            background-image: url(asset/img/content-first-5.jpg);
        }

        50% {
            background-image: url(asset/img/content-first-3.jpg);
            background-size: 260%;
        }

        68% {
            background-image: url(asset/img/content-first-3.jpg);
            background-size: 270%;
        }

        74% {
            background-image: url(asset/img/content-first-3.jpg);
        }

        75% {
            background-image: url(asset/img/content-first-4.jpg);
            background-size: 260%;
        }

        93% {
            background-image: url(asset/img/content-first-4.jpg);
            background-size: 270%;
        }

        99% {
            background-image: url(asset/img/content-first-4.jpg);
        }

        100% {
            background-image: url(asset/img/content-first-1.jpg);
            background-size: 260%;
        }
    }


    /* content thid */


    .content-third-box-child i {
        font-size: 7vw;
    }

    .content-third-box .btn-bg-none u {
        font-size: 5vw;
    }


    /* content four */


    .four-box i {
        font-size: 5vw !important;
    }

    .content-four-video video {
        height: 250px !important;
    }


    /* content six */


    .content-six .six-img-content {
        width: 70% !important;
    }


    /* content seven */


    .seven-star i {
        font-size: 4vw !important;
    }


    /* content eleven */


    .eleven-row2-child i {
        font-size: 2vw !important;
    }

    .eleven-img {
        height: 25vh !important;
    }


    /* content footer */


    .content-footer {
        padding-top: 0px !important;
        margin-top: 200px !important;
    }

    .footer-po {
        top: -15% !important;
    }


}

@media only screen and (max-width:429px) {


    h4 {
        font-size: 5vw !important;
    }


    /* scroll */

    .scroll1 {
        height: 40px !important;
        width: 40px !important;
        font-size: 5vw !important;
    }



    /* content first */

    .content-first .row2{
        display: none;
    }

    /* content third */


    .content-third-box-child {
        height: 50px !important;
        width: 50px !important;
    }

    .content-third p {
        font-size: 3vw !important;
    }


    /* content four */


    .four-box {
        height: 35px !important;
        width: 35px !important;
    }

    .content-four-video video {
        height: 250px !important;
    }
}

@media only screen and (max-width:320px) {




    span {
        font-size: 4vw !important;
    }

    p {
        font-size: 4.5vw !important;
    }


    /* content first */

    .content-first .row2{
        display: none;
    }

}